@tailwind base;
@tailwind components;
@tailwind utilities;/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Left Section */
.left-section {
  width: 30%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input-form {
  /* flex: 1; /* Takes up the top part */ 
  display: flex;
  flex-direction: column;
  gap: 10px; /* Consistent spacing between fields */
  width: 100%; /* Ensures uniform width */
}

.input-form h2 {
  margin-bottom: 20px;
}

.input-form label {
  display: block;
  margin-bottom: 10px;
}

.input-form input,
.input-form select {
  width: 100%;
  box-sizing: border-box;
}

.likelihood {
  height: 20%; /* Bottom part */
  width: 75%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-sizing: border-box;
  border: #333 4px solid;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Right Section */
.right-section {
  width: 70%;
  background-color: #fff;
  display: grid;

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px; /* Horizontal gap between items */
  row-gap: 80px; /* Vertical gap between items */
  padding:100px;
}

.chart {
  background-color: #eaeaea;
  place-items: center; /* Centers content in grid item */
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 20px;
}